@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000;
    overflow: hidden;
    
}


.container {
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.box {
    width: 680px;
    height: 350px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 24px -3px rgba(255, 255, 255, 0.8); 
}

.header {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px; 
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-right: 1.2rem;
}

.logo-svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}



.form-actions button {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    width: 300px;
    padding: .6rem;
    border-radius: 100vw;
    font-weight: 500;
    font-size: .9rem;
    cursor: pointer;
    margin-top: 0.5px; 
}

.form-actions button:hover {
    background: rgba(255, 255, 255, 0.9);
}

.greeting h2 {
  color: #fff;
  font-size: 2rem;
  margin-top: 3rem;
  margin-bottom: 0.2rem;
  position: relative;
  transform: translateX(-50%) scaleX(1.35); 
  left: 50%;
}

.info {
  color: #fff; 
  font-size: 1rem; 
  margin-top: 0.5rem;
  text-align: center; 
}

.info h4 {
  font-size: 0.9rem; 
  margin-bottom: 1rem; 
  position: relative;
  left: 50%;
  transform: translateX(-50%) scaleX(1.2);
}
