@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000;
        
}

.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 445px; 
  height: 100vh; 
  position: fixed; 
  top: 0;
  right: 0;
  background-color: #000; 
  padding: 20px; 
  border-left: 1px solid #444; 
  overflow-y: auto;
}

.search-box {
  position: relative;
  width: 300px;
  margin: 0 auto;
  margin-left: 18px;
  margin-top: -4px;
}

.search-box svg {
  position: absolute;
  top: 50%;
  left: 14px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  fill: #777;
}

.search-box input {
  border: 1px solid #444;
  background: #222;
  display: block;
  margin: 0 auto 7px auto;
  text-align: left;
  padding: 20px 10px 20px 40px;
  width: 350px;
  height: 47px;
  box-sizing: border-box;
  outline: none;
  color: #ffffff;
  font-weight: 300;
  font-size: 1rem;
  border-radius: 50px;
}

.search-box input:focus {
  background: #000;
  border-color: #1DA1F2;
  color: #fff;
}

.search-box:focus-within svg {
  fill: #1DA1F2;
}

.profile-container {
  border: 1px solid #555;
  background-color: transparent; 
  padding: 10px;
  border-radius: 20px;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: -48px;
}

.headerfollow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.headerfollow h2 {
  font-size: 24px;
  font-weight: 800;
  color: #fff;
  transform: scaleX(1.23);
  margin-left: 22px;
  margin-top: 10px;
  
}

.headerfollow .show-more {
  color: #1d9bf0;
  text-decoration: none;
  font-size: 14px;
  margin-right: 16px;
  margin-top: 22px;
}

.headerfollow .show-more:hover {
  text-decoration: underline;
}

.profile-box {
  background-color: transparent;
  padding: 4px 0;
  margin-top: 15px;
  margin-bottom: 10px;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



.profile-box img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 15px;
  margin-left: 10px;
  border: 1px solid #fff;
}

.user-name {
  font-weight: 550;
  font-size: 1.2rem;
  margin-right: auto; 
}

.follow {
  background-color: #fff;
  color: #000;
  padding: 8px 16px;
  border-radius: 20px;
  text-decoration: none;
  font-weight: 700;
  cursor: pointer;
  margin-right: 10px;
}

.follow:hover {
  background: rgba(255, 255, 255, 0.9); 
}

.trends {
  border: 1px solid #555;
  padding: 10px;
  margin-left: 20px;
  margin-right: -50px;
  margin-bottom: 20px;
  margin-top: 15px;
  border-radius: 20px;
  
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.header h2 {
  font-size: 24px;
  font-weight: 800;
  color: #fff;
  transform: scaleX(1.23);
  margin-left: 16px;
  
}

.nav-list {
  padding: 12px;
}


.main-text {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  transform: scaleX(1.23);
  margin-left: 32px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.sub-text {
  font-size: 14px;
  font-weight: 400;
  color: #666;
  transform: scaleX(0.9);
  margin-left: -17px;
}


.nav-list a {
  color: #1DA1F2; 
  text-decoration: none; 
}

.nav-list a:hover {
  text-decoration: underline; 
}

.right-footer {
  background-color:transparent; 
  padding: 40px;
  margin-bottom: -10px;
  margin-top: -10px;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: -35px;
  margin-left: 10px;
}

.footer-links a {
  color: #444;
  padding: 2px;
  text-decoration: none;
  margin-right: 15px;
  margin-bottom: 5px;
}

.footer-links a:hover {
  text-decoration: underline;
  color: #1DA1F2;
}

.footer-links i {
  margin-left: 5px;
  cursor: pointer;
}

.footer-copyright {
  text-align: left;
  font-size: 10px;
  color: #777;
}