@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
  
  background-image: url('../images/x backgroung.png');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(91, 112, 131, 0.4);
    z-index: 1;
}

.container {
    display: flex;
    position: relative;
    z-index: 2;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.box {
    width: 480px;
    height: 600px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #000;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 24px -3px rgba(0, 0, 0, 0.5); 
}

.header {
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close-btn {
  display: flex;
  justify-content: center;
  cursor: pointer;
  margin-left: 10px; 
  
}

.logo {
  width: 50px; 
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-left: 11rem;
}

.logo-svg {
  width: 100%;
  height: 100%;
  fill: #fff;
}


.form-title h2 {
  color: #fff;
  font-size: 1.7rem;
  position: relative;
  left: 40%; 
  transform: translateX(-50%) scaleX(1.35); 
  margin-top: 1.3rem;
}


button {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    width: 300px;
    padding: .6rem;
    border-radius: 100vw;
    font-weight: 500;
    font-size: .9rem;
    cursor: pointer;
    
}

.google_btn {
  color: rgba(0, 0, 0, .7);
  margin-top: 1.7rem;
  margin-bottom: .5rem;
  background-color: #fff;
}

.google_btn:hover {
    background: rgba(255, 255, 255, 0.9); 
}

.apple_btn {
  color: rgba(0, 0, 0, .7);
  background-color: #fff;
}

.apple_btn:hover {
     background: rgba(255, 255, 255, 0.9); 
}

.google-icon {
  font-size: 0.9rem;
  margin-right: 0.2rem;
  color: rgba(0, 0, 0, 1);
  
}

.apple-icon {
  font-size: 1.2rem;
  margin-right: 0.3rem;
  color: rgba(0, 0, 0, 1);
  
}

.separator {
    color: #fff;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: .3rem;
    margin-bottom: .2rem;
    width: 300px;
}

.separator h5 {
    color: #999999;
    padding: 0.5rem;
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
}

.separator .line {
    height: 1px;
    flex: 1;
    background-color: #333333;
}

.box input[type="text"],
.box input[type="password"] {
    border: 1px solid #444;
    background: #000;
    display: block;
    margin: 0 auto 7px auto;
    text-align: left;
    padding: 20px 10px;
    width: 300px;
    height: 45px;
    box-sizing: border-box;
    outline: none;
    color: #ffffff;
    font-weight: 300;
    font-size: 1rem;
    border-radius: 5px;
}



.box input[type="text"]:focus,
.box input[type="password"]:focus {
    border-color: #1DA1F2;
}

.box .input-container {
    position: relative;
    width: 300px;
    margin: 0 auto;
    
}

.form-actions button {
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .2);
    width: 300px;
    padding: .6rem;
    border-radius: 100vw;
    font-weight: 500;
    font-size: .9rem;
    cursor: pointer;
    margin-top: 10px; 
}

.form-actions button:hover {
    background: rgba(255, 255, 255, 0.9);
}


.forgot-password button {
    background-color: transparent;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 255);
    width: 300px;
    padding: .6rem;
    border-radius: 100vw;
    font-weight: 500;
    font-size: .9rem;
    cursor: pointer;
    margin-top: 10px; 
}

.forgot-password button:hover {
    background: rgba(128, 128, 128, 0.18);
}




.create-account {
    text-align: center;
    padding: 14px 10px;
    color: #fff;
    font-size: 12px;
    font-weight: 300;
    margin-top: 40px;
    margin-left: -6rem;
}

.create-account p {
    color: #999999; 
    font-size: 0.9rem; 
}

.create-account a {
    text-decoration: underline;
    color: #999999; 
}

.create-account a:visited {
    color: #1DA1F2; 
}

